html{
    background: linear-gradient(#08f, #fff);
    padding: 40px;
    width: 170px;
    height: 100%;
    margin: 0 auto;
  }

  .red{
    background: red;
    background-image: radial-gradient(brown, transparent);
    background-size: 5px 5px; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 35px;
    animation: 13s red infinite;
    border: dotted 2px red;
    box-shadow: 
      0 0 20px #111 inset,
      0 0 10px red;
  }
  .redoff{
    background: rgba(255, 0, 0, 0.212);
    background-image: radial-gradient(brown, transparent);
    background-size: 5px 5px; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 35px;
    animation: 13s red infinite;
    border: dotted 2px red;
    box-shadow: 
      0 0 20px #111 inset,
      0 0 10px red;
  }
  

  
  .green{
    background: green;
    background-image: radial-gradient(lime, transparent);
    background-size: 5px 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: dotted 2px lime;
    position: absolute;
    top: 270px;
    left: 35px;
    box-shadow: 
      0 0 20px #111 inset,
      0 0 10px lime;
    animation: 13s green infinite;
  }

  .greenoff{
    background: rgba(0, 128, 0, 0.185);
    background-image: radial-gradient(lime, transparent);
    background-size: 5px 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: dotted 2px lime;
    position: absolute;
    top: 270px;
    left: 35px;
    box-shadow: 
      0 0 20px #111 inset,
      0 0 10px lime;
    animation: 13s green infinite;
  }

  .yellow{
    background: yellow;
    background-image: radial-gradient(orange, transparent);
    background-size: 5px 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: dotted 2px yellow;
    position: absolute;
    top: 145px;
    left: 35px;
    animation: 13s yellow infinite;
    box-shadow: 
      0 0 20px #111 inset,
      0 0 10px yellow;
  }

  .yellowoff{
    background: rgba(255, 255, 0, 0.041);
    background-image: radial-gradient(orange, transparent);
    background-size: 5px 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: dotted 2px yellow;
    position: absolute;
    top: 145px;
    left: 35px;
    animation: 13s yellow infinite;
    box-shadow: 
      0 0 20px #111 inset,
      0 0 10px yellow;
  }


  

 /* @keyframes red{
    0%{opacity: 1}
    20%{opacity: 1}
    40%{opacity: 1}
    60%{opacity: .1}
    80%{opacity: .1}
    100%{opacity: .1}
  }
  
  @keyframes yellow{
    0%{opacity: .1}
    20%{opacity: .1}
    40%{opacity: 1}
    50%{opacity: .1}
    60%{opacity: .1}
    80%{opacity: .1}
    83%{opacity: .1}
    86%{opacity: 1}
    89%{opacity: .1}
    93%{opacity: 1}
    96%{opacity: .1}
    100%{opacity: .1}
  }
  
  @keyframes green{
    0%{opacity: .1}
    20%{opacity: .1}
    40%{opacity: .1}
    60%{opacity: 1}
    80%{opacity: 1}
    100%{opacity: 1}
  }*/
            